.container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);

    width: 300px;
    height: 300px;
    
    justify-content: center;
    align-content: center;
}

body{
    margin: 0px;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.grid{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid black;
}

.grid1,.grid2,.grid3{
    border-top:none;
}
.grid9,.grid7,.grid8{
    border-bottom:none ;
}
.grid1,.grid4,.grid7{
    border-left: none;
}
.grid3,.grid6,.grid9{
    border-right: none;
}

.make-cross::before,.make-cross::after{
    content: "";
    width: 10px;
    height: 40px;
    border: 2px solid;
    background-color: black;
}
.make-cross::before{
    transform: rotate(45deg);
}
.make-cross::after{
    transform: rotate(-45deg);
    position: absolute;
}

.make-square::before,.make-square::after{
    content: "";
    width: 20px;
    height: 40px;
    background-color: black;
}

.winnerMessage.show{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.539);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    font-weight: bold;
}


