/* .container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
    border: none;
    background-color: rgba(78, 68, 213, 0.708);
} */

.grid{
    
    border: none;
}

.grid-col1,.grid-col2,.grid-col3{
    border-bottom:8px solid orange;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 300px;
    height: 100px;
}
.grid-col3{
    border: none;
}


.make-circle{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    place-self: center;
    background-color: rgba(213, 213, 85, 0.826);
    box-shadow: 2px 2px 4px;
}

.make-square{
    height: 60px;
    width: 60px;
    place-self: center;
    background-color: rgb(84, 212, 131);
    border-radius: 12px;
    box-shadow: 2px 2px 4px;
}

.make-square:hover,.make-circle:hover{
    box-shadow: none;
}

.line1,.line2{
    border: 4px solid orange;
    border-radius: 12px;
    height: 300px;
    width: 0px;
    position: absolute;
    top: 10px;
    left: 100px;
}
.line2{
    left: 205px;
}